.navBar{
    display: flex;
    flex-direction: row;
    align-content: center;
    gap: 200px;
}
.navMenu{
    border: 2px solid lightblue;
    background-color: lightblue;
    display: flex;
    flex-direction: row;
    gap: 30px;
}
a{
    color:black
}
